h1 {
    color: rgb(241, 241, 241);
    text-align: center;
    font-size: 75px;
}
body {
    color: rgb(190, 187, 187);
    height: 100%;
    width: 100%;
    background-image: url("../images/galaxy.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}
nav {
    color: rgb(229, 226, 226);
    list-style-type: none;
    text-align: center;
    margin: 30px 0px;
    font-size: 25px;
}
ul {
    display: inline;
    color: rgb(229, 226, 226);
    padding: 0px 75px 0px 75px;
    margin: 0px 0px 50px 0px;
    text-decoration: underline;
}
.information{
    background-color: rgba(52, 52, 52, 0);
    font-size: 30px;
    color: rgb(229, 226, 226);
    height: auto;
    width: 500px;
    position: absolute;
    text-align: center;
    margin-left: 30%;
    margin-top: 10%;
}
li.planet-info{
    list-style-type: none;
    padding: 25px;
    font-size: 25px;
}
.space {
    display: grid;
    grid-template-columns: repeat(9, 100px [col-start]);
    grid-template-rows: repeat(2, 0px [row-start]);
    color: white;
    margin-top: 11%;
}
#Mercury {
    grid-column: 1/ span 2;
    /* border: 2px solid white; */
    align-self: center;
    margin: 200px 200px 0px 0px;
    
}
#Venus {
    grid-column: 3/ span 2;
    /* border: 2px solid white; */
    align-self: center;
    margin: 200px 200px 0px 200px;
}
#Earth {
    grid-column: 5/ span 2;
    /* border: 2px solid white; */
    align-self: center;
    margin: 200px 100px 0px 400px;
    
}
#Mars{
    grid-column: 7/span 2;
    /* border: 2px solid white; */
    align-self: center;
    margin: 125px 0px 0px 700px;
}
.star {
    height: 2px;
    width: 2px;
    position: absolute;
    border-radius: 100%;
    /* border: 2px solid rgb(34, 29, 29); */
    background-color: rgba(138, 138, 138, 0.26);
    opacity: .5;

}
button {
    border-radius: 10%;
    position: absolute;
    bottom: 0px;
}
.stars {
    height: 2px;
    width: 1.5px;
    position: absolute;
    border-radius: 100%;
    /* border: 2px solid rgb(34, 29, 29); */
    background-color: rgba(138, 138, 138, 0.26);
    opacity: .5;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes blink {
    0% {background-color: rgba(138, 138, 138, 0.315);}
    50% {background-color: rgba(255, 255, 255, 0.938);}
    100% {background-color: rgba(255, 255, 255, 0.315);}
}


@-moz-keyframes move-map {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } }
  
  @-webkit-keyframes move-map {
    0% {
      background-position: 0 0; }
    100% {
      background-position: -849px 0; }
  }
  
  
  @-o-keyframes move-map {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } }
  
  @-ms-keyframes move-map {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } }
  
  @keyframes move-map {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } }