body {
    color: rgb(190, 187, 187);
    height: 100vh;
    width: auto;
    background-image: url("../images/galaxy.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: rgb(241, 241, 241);
    text-align: center;
    font-size: 75px;
}
nav {
    color: rgb(229, 226, 226);
    list-style-type: none;
    text-align: center;
    margin: 30px 0px;
    font-size: 25px;
}
ul {
    display: inline;
    color: rgb(229, 226, 226);
    padding: 0px 75px 0px 75px;
    margin: 0px 0px 50px 0px;
    text-decoration: underline;
}
.information{
    background-color: rgba(52, 52, 52, 0);
    font-size: 30px;
    color: rgb(229, 226, 226);
    text-align: center;
}
li.planet-info{
    list-style-type: none;
    padding: 25px;
    font-size: 25px;
}
.space {
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: white;
    align-items: center;
}

.star {
    height: 2px;
    width: 2px;
    position: absolute;
    border-radius: 100%;

    background-color: rgba(138, 138, 138, 0.26);
    opacity: .5;

}
button {
    border-radius: 10%;
    position: absolute;
    bottom: 0px;
}
.stars {
  height: 2px;
  width: 1.5px;
  position: absolute;
  border-radius: 100%;
  background-color: rgba(138, 138, 138, 0.26);
  opacity: .5;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.planet {
  border-radius: 50%;
  position: relative;
}
.planet:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -40px 10px 70px 10px rgba(0,0,0,0.5) inset;
  z-index: 2;
}

.planet:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

#Mercury {
  background: url('../images/flat_mercury.jpeg') repeat-x;
  background-size: auto 100%;
  height: 280px;
  width: 280px;
  -webkit-animation: move-map 30s infinite linear;
  -moz-animation: move-map 30s infinite linear;
  -o-animation: move-map 30s infinite linear;
  -ms-animation: move-map 30s infinite linear;
  animation: move-map 30s infinite linear;
  background: radial-gradient(circle at center, )
}
#Venus {
  background: url('../images/flat_venus.jpg') repeat-x;
  background-size: auto 100%;
  -webkit-animation: move-map 30s infinite linear;
  -moz-animation: move-map 30s infinite linear;
  -o-animation: move-map 30s infinite linear;
  -ms-animation: move-map 30s infinite linear;
  animation: move-map 30s infinite linear;
  height: 260px;
  width: 260px;
}
#Earth {
  background: url('../images/flat_earth.jpeg') repeat-x;
  background-size: auto 100%;
  -webkit-animation: move-map 30s infinite linear;
  -moz-animation: move-map 30s infinite linear;
  -o-animation: move-map 30s infinite linear;
  -ms-animation: move-map 30s infinite linear;
  animation: move-map 30s infinite linear;
  height: 280px;
  width: 280px;
}
#Mars {
  background: url('../images/flat_mars.jpeg') repeat-x;
  background-size: auto 100%;
  -webkit-animation: move-map 30s infinite linear;
  -moz-animation: move-map 30s infinite linear;
  -o-animation: move-map 30s infinite linear;
  -ms-animation: move-map 30s infinite linear;
  animation: move-map 30s infinite linear;
  height: 140px;
  width: 140px;
}

/* @-moz-keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }

@-webkit-keyframes move-map {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -849px 0; }
}


@-o-keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }

@-ms-keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }

@keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }


@-webkit-keyframes blink {
    0% {background-color: rgba(138, 138, 138, 0.315);}
    50% {background-color: rgba(255, 255, 255, 0.938);}
    100% {background-color: rgba(255, 255, 255, 0.315);}
}


@-moz-keyframes move-map {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } }
  
  @-webkit-keyframes move-map {
    0% {
      background-position: 0 0; }
    100% {
      background-position: -849px 0; }
  }
  
  
  @-o-keyframes move-map {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } }
  
  @-ms-keyframes move-map {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } }
  
  @keyframes move-map {
    0% {
      background-position: -849px 0; }
  
    100% {
      background-position: 0 0; } } */